
html{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

.navbar {
    font-family: sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    border-bottom: solid gray !important;
} 

.nav-link {
    font-weight: 300 !important;
}
.active {
    border-bottom: 1px solid black !important;
}
.navbar-brand {
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 3px;
}
.footer {
    color: white;
    padding: 4px;
    padding-bottom: 10px;
    background: #000000;
    background: -webkit-linear-gradient(
        to right,
        #434343,
        #000000
    );
    background: linear-gradient(to right, #434343, #000000);
}
.footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
}